
p{
  color:black;
  font-family: cursive;
  font-size: 20px;
}
body{
  background-color: #66add2;
}
h1{
  color:black;
  font-family:monospace

}
a{
  color:black;
  font-size: 25px;
  font-family: sans-serif;
}


img{
  text-align: center;
  width: 25%
}

#Me {
  width: 75%;
}
